[Unit]
Description=Your capture data sensors for sense hat 
#After=lightdm.service

#StartLimitIntervalSec=500
#StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Projet/sensor-log/main.py
#WorkingDirectory=/home/pi
User=root
[Install]
WantedBy=multi-user.target
